/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.testing
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
dropForeign(['country_id'])
dropForeign(['timezone_id'])
on('users')
uuid('country_id')
uuid('timezone_id')
@templates
@templates_edited
_ide_helper.php
xpdf-tools
.idea
.idea/easyquote-api-ww.iml
.idea/modules.xml
.idea/php.xml
.idea/phpunit.xml
.idea/vcs.xml
.idea/workspace.xml
.phpstorm.meta.php
.idea/codeStyles
.idea/php-test-framework.xml
.idea/.gitignore
patch.sh
patch-uat.sh
archive-changes.sh
/docker
